#intro {
  margin: 20px 0;
  line-height: 2;
}
#main-quote {
  background: url(../imgs/cyan-pattern2.png) no-repeat;
  width: 477px;
  height: 188px;
  text-indent: -9999px;
  margin: 0 35px 15px 20px;
}

