html{
	background: gray;
}
body{
	width: 80%;
	margin: 0 auto;
	background: white;
}
.tokheader{
	height: 50px;
	margin-bottom: 1em;
	background: lightgreen;
	margin-top: 50;
}
.nav{
	height: 25px;
	margin-bottom: 1em;
}
.aside{
	margin-left: 10;
	float: left;
	width: 30%;
	background: cyan;
	border-style:solid;
	border-width:1px;
}
.article{
	float: right;
	width: 60%;
	margin-right: 10;
	margin-bottom: 20;
	background: pink;
}
.footer{
	clear: both;
	margin: 1em;
	background: lightgray;
	height: 25px;
}
